* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Comic Neue', cursive;
    font-size: 16px;
}

:root {
    --bg-color: #C00A27;
    --font-color: #FFFDFE;
    --font-color-darken: #ffc0cb;

}

body {
    background-color: #f8dce1;
}


body::-webkit-scrollbar {
    width: 13px;
}

body::-webkit-scrollbar-track {
    background-color: white;
}

body::-webkit-scrollbar-thumb {
    background-color: var(--bg-color);
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}


.navbar {
    width: 100%;
    background-color: #C00A27;
    /* position: fixed; */
}

.nav-wrap {
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 1vw;
}

.nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-item a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1vw;
    color: #ffc0ca;
    transition: .5s;
}

.nav-item a.checkout {
    color: #00b894;
}

.nav-item a:hover {
    color: #FFFDFE;
}

.nav-item a.special:active {
    color: #ffa502;
}

.nav-item a.menu:active {
    color: #95a5a6;
}

.nav-item a.checkout:active {
    color: #00b894;
}

.nav-item a.payment:active {
    color: #5352ed;
}

.nav-item p {
    padding-top: .7vw;
    font-size: 1.5vw;
}

.fa-star,
.fa-utensils,
.fa-check-circle,
.fa-money-check {
    font-size: 2.5vw;
}


.checkout h1 {
    background-color: var(--bg-color);
    color: var(--font-color);
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 5px;
    margin: 2rem 0;
}


/* DETAIL PEMESAN */
.pelanggan {
    width: 50%;
}

.pelanggan h2 {
    margin-left: 1rem;
    padding: 1rem 0;
}

input,
textarea {
    border: none;
    background: none;
    border-bottom: 2px solid #b9868673;
    border-radius: 10px;
    padding: 1rem;
    width: 30rem;
    transition: .5s;
}

input:focus,
textarea:focus {
    background: var(--font-color);
    outline: none;
}

/* TABLE */
/* TABLE ORDERAN */
i.fa-times,
i.fa-plus,
i.fa-minus {
    color: #b9868673;
    font-size: 2rem;
    transition: .5s;
    padding: 0 1rem;
}

i.fa-times:hover,
i.fa-plus:hover,
i.fa-minus:hover {
    color: #b98686;
}

table.table-orderan {
    width: 100%;
    border-collapse: collapse;
    color: black;
}

table.table-orderan th,
table.table-orderan td {
    border-bottom: 1px solid #b9868673;
    padding: 1rem;
}

table.table-orderan td {
    text-align: center;
}

table.table-orderan .gambar {
    width: 150px;
    float: left;
    padding-right: 1vw;
}

table.table-orderan .gambar img {
    width: 100%;
    border-radius: 5px;
}

table.table-orderan ul {
    text-align: left;
}

table.table-orderan li:nth-child(1) {
    font-weight: bold;
}

/* TABLE TOTAL */
.total {
    width: 50%;
    margin-bottom: 30px;
    padding: 2rem;
    float: right;
}

table.table-total th,
table.table-total td {
    border-bottom: 1px solid #b9868673;
    padding: 1rem;
}

table.table-total {
    width: 100%;
    border-collapse: collapse;
    color: black;
}

table.table-total th {
    text-align: left;
}

.clear {
    clear: both;
}

/* FOOTER */
footer {
    background-color: var(--bg-color);
    width: 100%;
    padding: 2vw;
}

footer .container h1 {
    text-align: center;
    font-size: 2vw;
    color: var(--font-color-darken);
    padding: 2vw;
}

.sosmed {
    padding: 3vw;
    display: flex;
    justify-content: center;
}

.sosmed a {
    display: flex;
    background: transparent;
    height: 3rem;
    width: 3rem;
    margin: 0 15px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    box-shadow: 5px 5px 5px #1e272e, -5px -5px 5px #E57373;
    color: var(--font-color-darken);
}

.sosmed a i {
    font-size: 2vw;
}

.sosmed a:hover {
    box-shadow: inset 5px 5px 5px #1e272e, inset -5px -5px 5px #E57373;
    transition: .5s;
    transform: translate(0, 10px);
}

.sosmed a:hover .fa-whatsapp {
    color: #4fce5d;
}

.sosmed a:hover .fa-instagram {
    color: #d2358b;
}

.sosmed a:hover .fa-telegram-plane {
    color: #2BA3D7;
}

.sosmed a:hover .fa-line {
    color: #00B900;
}

.sosmed a:hover .fa-envelope {
    color: #E20002;
}