@media all and (max-width: 768px) {
    .nav-wrap {
        width: 100%;
        display: flex;
        padding: 2vw;
    }

    .nav-item p {
        padding-top: .9vw;
        font-size: 2vw;
    }

    .fa-star,
    .fa-utensils,
    .fa-check-circle,
    .fa-money-check {
        font-size: 5vw;
    }
}

@media all and (max-width: 670px) {
    .navbar {
        bottom: 0;
    }

    .nav-wrap {
        width: 100%;
        display: flex;
        padding: 3vw;
    }

    .nav-item p {
        padding-top: 1.5vw;
        font-size: 3vw;
    }

    .fa-star,
    .fa-utensils,
    .fa-check-circle,
    .fa-money-check {
        font-size: 7vw;
    }

    .kotak-img {
        height: 40vw;

    }

    .keterangan h1 {
        font-size: 8vw;
    }

    .keterangan table {
        margin: 5vw 0;
    }

    .keterangan td {
        font-size: 4vw;
        padding: 0px;
    }

    .menu-wrap {
        padding: 10vw;
    }

    .menu-wrap .kotak {
        width: 100%;
    }

    .keterangan {
        padding-bottom: 5vw;
    }

    .keterangan button {
        font-size: 4vw;
        padding: 2vw 15vw;
    }

    .sosmed a {
        height: 30px;
        width: 30px;
        margin: 0 10px;
    }

    .sosmed a i {
        font-size: 10px;
    }

    footer h1 {
        font-size: 5vw;
    }
}